%h2 Forgot Password
%p
  An e-mail will be sent to you with a link which will allow you to reset your password.

- form_tag send_forgotten_password_users_path, :method => :put do
  .field
    = label_tag :email
    = text_field_tag :email
  .field
    = submit_tag
